{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "base.css" %}">
    <meta charset="UTF-8">
    <title>DevLobby</title>
</head>
<body>

<div class="jumbotron jumbotron-fluid h-100">

    <div class="container">
        <h1 class="jumbotron-heading">DevLobby</h1>
        <p class="lead text-muted">
            Lobby for the Developers
        </p>
        {% if request.user.is_authenticated %}
            <nav class="nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/blog/create/">Create</a>
                <a class="nav-link" href="/about">About</a>
            </nav>
        {% endif %}

    </div>

    <div class="album py-5 bg-light fill h-100">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</div>
</body>
</html>